.fp-style-1 {
 background-color: rgb(69, 129, 142);
margin-bottom: 0px;
padding: 0px;
}

.fp-style-2 {
 background-image: url('./../imgs/bg-06.jpg');
background-size: cover;
opacity: 0.65;
}

.fp-style-3 {
 background-image: url(./../imgs/bg-16.jpg);
}

.fp-style-4 {
 background: black;
}

.fp-style-5 {
 height: 419.3px;
object-fit: cover;
width: 628.408px;
}

